@charset "utf-8";
html{height: 100%;
}
body{
    height: 100%;
    background: white;
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
    border: solid 2px #000;
}
#container{
    flex: 0 0 80%;
    border: solid 2px rgb(216, 33, 33);
    text-align: center;
    width: 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.post_container{
    width: 100%;
    border-bottom: 3px solid silver;
}

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 300px;
}

.form-control{
    width: 80%;
}

.post_container{
    display: flex;
    flex-wrap: nowrap;
}

.mypost{
    border: solid 2px rgb(253, 0, 148);
    display: flex;
    width: auto;
}

.form-control textarea{
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    display: flex;
}

.post_images{
    display: flex;
}

.post_images img{
    border-radius: 50px;
    align-items: flex-end;
}

.post_input textarea{
    width: 850px;
    height: 150px;
    resize: none;
    border: none;
}

.post_btn{
    width: 10%;
    display: flex;
    align-items: flex-end;
}

.btn-area{
    background: #fff;
    margin: 10px;
    height: 80px;
    width: auto;
    border: solid 2px rgb(0, 167, 69);
    display: flex;
    justify-content: flex-end;
}

.btn-primary{
    background: rgb(134, 134, 134);
    align-items: flex-end;
    content: '';
    height: 75px;
    width: 75px;
    margin: 0 0 0 auto;
    background-position: 40% 57%;
    background-size: 200%;
    background-image: url("../images/post.png");
}

.btn-success{
    background: rgb(0, 127, 136);
    display: flex;
    margin: 10px;
    content: '';
    height: 60px;
    width: 60px;
    background-position: 50% 10%;
    background-size: cover;
    background-image: url("../images/edit.png") ;
}

.btn-danger{
    background: rgb(134, 134, 134);
    display: flex;
    margin: 10px;
    content: '';
    height: 60px;
    width: 60px;
    background-position: 50% 10%;
    background-size: cover;
    background-image: url("../images/trash-h.png") ;
}

.btn-search{
    background: rgb(134, 134, 134);
    display: flex;
    margin: 10px;
    content: '';
    height: 60px;
    width: 60px;
    background-position: 50% 10%;
    background-size: cover;
    background-image: url("../images/search.png") ;
}

.page_title{
    font-weight: bold;
    font-size: 40px;
    color: black;
    display: flex;
}

.follows_list_images{
    display: flex;
    padding : 10px;
}